<div appHightlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, excepturi!</div> -->
<p [appHightlight]="'blue'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, excepturi!</p>

<!-- <input type="text" name="moneyInAccount" [(ngModel)]="moneyInAccount" (ngModelChange)="onChange($event)">

<p>The money in your account is <span [ngClass]="{ green: isGreen, red: !isGreen }">{{moneyInAccount | currency:'EUR'}}</span>
</p> -->

<!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam mollitia quasi corporis non eius aliquid delectus vero repellat? Placeat consequatur tenetur aliquid quos asperiores excepturi vitae sint animi, laboriosam aspernatur.</p>

<div *ngIf="divEnabled">Always will be shown 1</div>

<button (click)="enableDiv()">Activate div</button>

<ul>
  <li *ngFor="let actor of actors">{{actor.name}}</li>
</ul>

<select>
  <option *ngFor="let actor of actors">{{actor.name}}</option>
</select>

<button (click)="addActor()">Add a new actor</button> -->

<!-- <div class="container">
  <div *ngIf="value === 1"> Value is A </div>
  <div *ngIf="value === 2"> Value is B </div>
  <div *ngIf="showSomethingElseDIV"> Value is something else </div>
</div>

<div class="container" [ngSwitch]="value">
  <div *ngSwitchCase="1"> Value is A  (switch) </div>
  <div *ngSwitchCase="2"> Value is B  (switch) </div>
  <div *ngSwitchDefault> Value is something else (switch)</div>
</div> -->